#node-page {
  margin-top: 2rem;
  width: 100%;
  color: whitesmoke;
}

.group-body {
  margin-top: 2rem;
}

.function {
  box-shadow: 0 0 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
  width: 100%;
  padding: 1rem;
  border-radius: 0.2rem;
  padding-inline: 2rem;
}

.vertical-space {
  width: 1rem;
}

.node-members {
  padding: 1rem;
  background-color: rgba(1, 1, 1, 0.02);
  box-shadow: 0 0 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
}

.group-header {
  padding: 1.3rem;
  background-color: rgba(1, 1, 1, 0.02);
  box-shadow: 0 0 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
}

.node-image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.error {
  color: red;
}

.stack {
  background-color: rgba(1, 1, 1, 0.04);
  padding-block: 0.5rem;
  box-shadow: 0 0.05rem 0.3rem 0.2rem rgba(1, 1, 1, 0.1);
  border-radius: 0.4rem;
}
.tech img {
  width: 100%;
  height: auto;
}

.tech {
  width: 22%;
  display: inline-block;
  margin: 1%;
}

.tech:hover {
  cursor: pointer;
}

.tech-name {
  display: none;
  opacity: 100;
}

.tech:hover .tech-name {
  transition: 0.9s;
  opacity: 100%;
  color: white;
  text-align: center;
  margin-top: 0.3rem;
  background-color: grey;
  padding: 0.3rem;
  border-radius: 0.4rem;
  display: flex;
  position: absolute;
}


.display-tech img {
  width: 100%;
  height: auto;
}

.display-tech {
  width: 18%;
  display: inline-block;
  margin: 1%;
  transition: 0.3s;
  opacity: 85%;
}

.display-tech:hover {
  cursor: pointer;
  width: 20%;
  transition: 0.3s;
  opacity: 100%;
}

.display-tech-name {
  display: none;
  opacity: 100;
}

.display-tech:hover .display-tech-name {
  transition: 0.9s;
  opacity: 100%;
  color: white;
  text-align: center;
  margin-top: 0.3rem;
  background-color: grey;
  padding: 0.3rem;
  border-radius: 0.4rem;
  display: flex;
  position: absolute;
}

#functionName{
  opacity: 80%;
}

#functionName:hover{
  opacity: 100%;
  cursor: pointer;
}

#iconpng{
  position: absolute;
  top: 40%;
  left: 10%;
}

#cardbackground {
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgb(21, 21, 21);
  background-image: linear-gradient(rgba(8, 8, 8, 0.8), rgba(8, 8, 8, 0));
}

.node-image {
  object-fit: cover;
}
