#node-page {
  margin-top: 2rem;
  width: 100%;
}

.group-body {
  margin-top: 2rem;
}

.function {
  box-shadow: 0 0 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
  width: 100%;
  padding: 1rem;
  border-radius: 0.2rem;
  padding-inline: 2rem;
}

.vertical-space {
  width: 1rem;
}

.node-members {
  padding: 1rem;
  background-color: rgba(1, 1, 1, 0.02);
  box-shadow: 0 0 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
}

.group-header {
  padding: 1.3rem;
  background-color: rgba(1, 1, 1, 0.02);
  box-shadow: 0 0 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
}
