.node img {
  height: 15rem;
  object-fit: cover;
}

.node {
  vertical-align: middle;
  margin: 0;
  height: 35rem;
  width: 85%;
  overflow: hidden;
}

.node:hover {
  cursor: pointer;
}

#cardbackground {
  color: white;
  background-color: #1c1c1c;
}

