#groupName:hover{
  opacity: 80%;
}

#groupName{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

p, h4, h2, button, h5 {
  color: white;
}



.display-stack {
  width: 100%;
  background-color: rgba(1, 1, 1, 0.04);
  padding-block: 0.5rem;
  box-shadow: 0 0.05rem 0.3rem 0.2rem rgba(1, 1, 1, 0.1);
  border-radius: 0.4rem;
}
.tech img {
  width: 100%;
  height: auto;
}

.tech {
  width: 4rem;
  display: inline-block;
  margin: 1%;
  transition: 0.3s;
  opacity: 85%;
}

.tech:hover {
  cursor: pointer;
  width: 4.4rem;
  transition: 0.3s;
  opacity: 100%;
}

.tech-name {
  display: none;
  opacity: 100;
}

.tech:hover .tech-name {
  transition: 0.9s;
  opacity: 100%;
  color: white;
  text-align: center;
  margin-top: 0.3rem;
  background-color: grey;
  padding: 0.3rem;
  border-radius: 0.4rem;
  display: flex;
  position: absolute;
}
