* {
  color: white;
}

#search-wrap {
  margin: 0;
  margin-top: 1.8vh;
}

.row {
  width: 100%;
}

.results {
  padding: 1rem;
  box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
  border-radius: 0.2rem;
  min-height: 60vh;
}

.entity {
  padding: 1rem;
  padding-inline: 1.5rem;
}
.entity * {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0.2rem !important;
  margin-inline: 1rem !important;
}

.entity {
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(1, 1, 1, 0.1);
}

.controls {
  border-radius: 0.4rem;
  background-color: white;
  height: 100%;
  box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(1, 1, 1, 0.2);
  padding: 1.6rem;
}

.results {
  border-radius: 0.4rem;
  background-color: white;
}


.input-group-text {
  color: white;
  background-color: rgb(21, 21, 21);
  background-image: linear-gradient(rgba(8, 8, 8, 0.8), rgba(8, 8, 8, 0));
}

#text {
  color: white;
}

#tabHeader {
  color: white ;
}

#yellow {
  color: #FFC200;
}

#searchBackground{
  color: white;
  background-color: rgb(21, 21, 21);
  background-image: linear-gradient(rgba(8, 8, 8, 0.8), rgba(8, 8, 8, 0));
}

.stack {
  background-color: rgba(1, 1, 1, 0.04);
  padding-block: 0.5rem;
  box-shadow: 0 0.05rem 0.3rem 0.2rem rgba(1, 1, 1, 0.1);
  border-radius: 0.4rem;
}
.tech img {
  width: 100%;
  height: auto;
}

.tech {
  width: 22%;
  display: inline-block;
  margin: 1%;
}

.tech:hover {
  cursor: pointer;
}

.tech-name {
  display: none;
  opacity: 100;
}

.tech:hover .tech-name {
  transition: 0.9s;
  opacity: 100%;
  color: white;
  text-align: center;
  margin-top: 0.3rem;
  background-color: grey;
  padding: 0.3rem;
  border-radius: 0.4rem;
  display: flex;
  position: absolute;
}

.entity:hover {
  cursor: pointer;
}

#cityNameControl {
  color: black;
}


.nav-link:hover {
  color: #FFC200;
}
