<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h3>Search results for: '{{searchParams.searchQuery}}'</h3>
  </div>
  <div class="col-3"></div>
</div>
<div id="search-wrap" class="row">
  <div class="col-2"></div>
  <div class="col-3">
    <div class="controls">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">City</div>
        </div>
        <input type="text" class="form-control" name="cityNameControl" id="cityNameControl" placeholder="All"
          [(ngModel)]="searchParams.cityName" (ngModelChange)="refreshAll()">
      </div>
      <br>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">State</div>
        </div>
        <input type="text" class="form-control" name="cityNameControl" id="cityNameControl" placeholder="All"
          [(ngModel)]="searchParams.stateAbbr" (ngModelChange)="refreshAll()">
      </div>
      @if (0 < searchParams.stack.length) { <hr>
        <h5 class="stack-header">Filtering Stack: </h5>
        <div class="stack d-inline-block">
          @for (tech of searchParams.stack; track $index) {
          <div class="tech" (click)="popFromStack(tech)">
            <img [src]="tech.badgeUrl" alt="{{tech.name}} badge image">
            <div class="tech-name">{{tech.name}}</div>
          </div>
          }
        </div>
        }
        @if (0 < technologies.length) { <hr>
          <h5 class="stack-header">Technologies: </h5>
          <div class="stack d-inline-block">
            @for (tech of technologies; track $index) {
            <div class="tech" (click)="pushToStack(tech)">
              <img [src]="tech.badgeUrl" alt="{{tech.name}} badge image">
              <div class="tech-name">{{tech.name}}</div>
            </div>
            }
          </div>
          }
    </div>

  </div>
  <div class="col-5">
    <div class="results">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>Nodes</button>
          <ng-template ngbNavContent>
            <div class="result-set">
              @for (node of nodes; track $index) {
              <div class="node entity">
                <div class="d-flex justify-content-between">
                  <h3>{{node.name}}</h3>
                  <h3>{{node.city}}, {{node.stateAbbreviation}}</h3>
                </div>
                <div class="content">
                  {{node.description}}
                </div>
              </div>
              @if(node !== nodes[nodes.length-1]) {
              <hr>
              }
              }
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Functions</button>
          <ng-template ngbNavContent>
            <div class="result-set">
              @for (func of functions; track $index) {
              <div class="entity function">
                <div class="d-flex justify-content-between">
                  <h3>&#64;{{func.name}}</h3>
                </div>
              </div>
              }
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>Users</button>
          <ng-template ngbNavContent>
            <div class="result-set">
              @for (user of users; track $index) {
              <div class="user entity">
                <div class="d-flex justify-content-between">
                  <h3>&#64;{{user.username}}</h3>
                  <h3>{{user.address?.city}}, {{user.address?.stateAbbreviation}}</h3>
                </div>
                <div class="content">
                  <blockquote class="elipsis-text">
                    {{user.aboutMe}}
                  </blockquote>
                </div>
              </div>
              @if(user !== users[users.length-1]) {
              <hr>
              }
              }
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
