#login-wrap {
  margin: 0;
  margin-top: 16vh;
  width: 100%;
}

.auth-form-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-inline: 3rem;
  border-radius: 0.4rem;
  /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color];*/
}

#showPasswordToggler {
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.input-group-text {
  width: 6.2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.error {
  color: red;
}

/* https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
@media (min-width: 992px) {
  .auth-form-container {
    box-shadow: 0 0.15rem 0.4rem 0.2rem rgba(0, 0, 0, 0.3);
  }
}
