<div id="signup-wrap" class="row">
  <div class="col-sm-1 col-md-2 col-xl-3 col-xxl-4"></div>
  <div class="col-sm-10 col-md-8 col-xl-6 px-5 col-xxl-4">
    <div class="error">{{errorFieldText}}</div>
    <div class="auth-form-container">
      @switch (currentSlide) {
      @case (1) {
      <h3 class="text-center">Create An Account</h3>
      <div #formError class="error"></div>
      <form class="mt-4">
        <div class="error">{{usernameErrorText}}</div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" autocomplete="username" name="username" class="form-control" id="username"
            [(ngModel)]="user.username" (change)="validateUsername()" placeholder="JaneDoe11" required />
        </div>
        <br>

        <div class="error">{{emailErrorText}}</div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" autocomplete="email" name="email" class="form-control" id="email" [(ngModel)]="user.email"
            (change)="validateEmail()" placeholder="jane.doe@example.com" required />
        </div>
        <br>

        <div class="error">{{passwordOneErrorText}}</div>
        <div class="form-group">
          <label for="passwordOne">Password</label>
          <input [type]="showPassword? 'text' : 'password'" name="passwordOne" id="passwordOne" class="form-control"
            [(ngModel)]="user.password" (change)="validatePassword1()" [(ngModel)]="user.password" required />
        </div>
        <br>

        <div class="error">{{passwordTwoErrorText}}</div>
        <div class="form-group">
          <label for="passwordTwo">Confirm Password</label>
          <input [type]="showPassword? 'text' : 'password'" id="passwordTwo" name="passwordTwo" class="form-control"
            [(ngModel)]="passwordTwo" (change)="validatePassword2()" [(ngModel)]="passwordTwo" required />
        </div>
        <br>

        <div class="form-inline">
          <label class="col-form-label p-0" for="showPasswordToggler">Show Password</label>
          <input class="form-check-input align-text-top" type="checkbox" name="showPasswordToggler"
            id="showPasswordToggler" [(ngModel)]="showPassword">
        </div>
        <br>

        <div class="form-group d-flex">
          <button type="button" name="submit" class="btn btn-primary form-control"
            (click)="submitFirstForm()">Next</button>
        </div>
      </form>
      }
      @case (2) {
      <h3 class="text-center">Profile Details</h3>
      <div #formError class="error"></div>
      <form class="mt-4">
        <div class="error">{{firstNameErrorText}}</div>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" placeholder="Jane" [(ngModel)]="user.firstName"
            (change)="validateFirstName()" />
        </div>
        <br>

        <div class="error">{{lastNameErrorText}}</div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Doe"
            [(ngModel)]="user.lastName" (change)="validateLastName()" />
        </div>
        <br>

        <div class="form-group">
          <label for="lastName">Profile Image Url</label>
          <input type="text" name="profileImageUrl" class="form-control" id="profileImageUrl"
            [(ngModel)]="user.profileImageUrl" />
        </div>
        <br>

        <div class="form-group">
          <label for="aboutMe">About Me (bio)</label>
          <textarea type="text" name="aboutMe" class="form-control" [(ngModel)]="user.aboutMe"></textarea>
        </div>
        <br>

        <div class="form-group d-flex">
          <button type="submit" name="submit" class="btn btn-secondary form-control"
            (click)="previousSlide()">Back</button>
          <div class="btn-inline-spacer"></div>
          <button type="button" name="submit" class="btn btn-primary form-control"
            (click)="submitSecondForm()">Next</button>
        </div>
      </form>
      }
      @case(3) {
      <h3 class="text-center">Address Details</h3>
      <div class="error">{{addressFormErrorText}}</div>

      <form class="mt-4">
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" name="street" class="form-control" placeholder="554 example rd"
            [(ngModel)]="address.street" />
        </div>
        <br>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" name="city" class="form-control" id="city" placeholder="Denver" [(ngModel)]="address.city"
            (change)="validateLastName()" />
        </div>
        <br>

        <div class="form-group">
          <label for="stateAbbreviation">State Abbreviation</label>
          <input type="text" name="stateAbbreviation" class="form-control" id="stateAbbreviation" placeholder="CO"
            [(ngModel)]="address.stateAbbreviation" />
        </div>
        <br>

        <div class="form-group d-flex">
          <button type="submit" name="submit" class="btn btn-secondary form-control"
            (click)="previousSlide()">Back</button>
          <div class="btn-inline-spacer"></div>
          <button type="button" name="submit" class="btn btn-primary form-control"
            (click)="submitThirdForm()">Submit</button>
        </div>
      </form>
      }
      }
    </div>
  </div>
  <div class="col-sm-1 col-md-2 col-xl-3 col-xxl-4"></div>
</div>
