<div class="container">
  <div class="row">
    <div class="col">
      <!--Card-->
      <div class="shadow card my-3" *ngFor="let event of functions">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{event.name}}</li>
                <li class="list-group-item">{{event.cap}}</li>
                <li class="list-group-item">{{event.start}} - {{event.end}}</li>
              </ul>
            </div>
            <div class="col-auto ">
              <!-- <iframe src="https://storage.googleapis.com/maps-solutions-dpwsjnixw4/commutes/kjgx/commutes.html"
                width="100px" height="100px"
                style="border:0; overflow: hidden;"
                loading="lazy">
              </iframe> -->
              <img height="100px" src="https://i.imgur.com/OGFGyD3g.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <!--Card-->
      <button class="btn btn-primary" (click)="createNew()">Create New Function</button>
    </div>
  </div>
</div>


