<h3 class="text-center">Profile Details</h3>
<div #formError class="error"></div>
<form class="mt-4">
  <div #firstNameError class="error"></div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" class="form-control" placeholder="Jane" [(ngModel)]="firstName"
      (change)="validateFirstName()"  />
  </div>
  <br>

  <div #lastNameError class="error"></div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Doe" [(ngModel)]="lastName"
      (change)="validateLastName()"  />
  </div>
  <br>

  <div class="form-group">
    <label for="lastName">Profile Image Url</label>
    <input type="text" name="profileImageUrl" class="form-control" id="profileImageUrl" [(ngModel)]="profileImageUrl" />
  </div>
  <br>

  <div class="form-group">
    <label for="aboutMe">About Me (bio)</label>
    <textarea type="text" name="aboutMe" class="form-control" [(ngModel)]="aboutMe"></textarea>
  </div>
  <br>

</form>
